.root {
  width: 100vw;
}
.top-section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  background-image: linear-gradient(45deg,rgb(65, 65, 220),rgb(186, 37, 174));
  padding: 24px 0px 24px 0px;
  color: white;
}

.top-section input {
  border-radius: 5px;
  padding: 5px;
  width: 15vw;
  border: none;
}

.buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
  gap: 10px 10px;
}

.buttons button {
  background-color: black;
  color: white;
  border-radius: 5px;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.profile-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px 10px;
}
.profile {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  width: 500px;
  background-color: rgb(146, 216, 236);
  padding: 10px;
  border-radius: 10px;
}

.profile button {
  background-color: black;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

.profile img {
  border-radius: 50%;
}

.profile h2 {
  margin-bottom: 0px;
}

.buttons .active-button {
  background-color: white;
  border: 2px solid black;
  color: black;
}
